.heading{
    text-align: center;
    border-bottom: 2px solid black;
}
.heading-name{
    font-size: large;
    font-weight: bolder;
}
.section-title{
    font-size: medium;
    font-weight: bold;
    text-decoration: underline;
}