.heading{
    text-align: center;
    border-bottom: 2px solid black;
}
.heading-name{
    font-size: xx-large;
    font-weight: bolder;
}
.section-title{
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}
.section-name{
    font-size: medium;
    font-weight: bold;
}
.section-reg{
    font-size: small;
}
.section-content{
    font-size: small;
}