body {
    background: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: darkslateblue;
    text-align: center;
    font-weight: bold;
}
h2 {
    text-align: center;
    font-weight: bold;
}
p {
    text-align: center;
    margin-left: 5cm;
    margin-right: 5cm;
}
.projects { 
    /* make the blobs float side-by-side */
	display:flex; 
	flex-wrap:wrap;  
} 
.projects h2 {
    /* display the h2 on its own line, not with the section blobs */
	width: 100%;
}
.project {
    /* form the section blobs */
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: aliceblue;
    /* rounded corners for the blobs */
    border-radius: 25%;
}
.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 25;
}
.project img {
    margin: 10px;
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 2px solid rgb(7, 50, 131);
    display: block;
    margin: auto;
}
h3 {
    text-align: center;
}
a{
    text-decoration: none;
    color: purple;
}
.project p{
    text-align: center;
    margin: 15px;
}